.serachbar-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 648px;
    height: 157px;
    border-radius: 8px;
    background: var(--grayscale-gray800, #242525);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.percentage-anchors{
    display: flex;
    flex-direction: row;
    
}
.values-anchor{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-left: 65px;
    top: 28px;

}
.number-percentage{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
    .serachbar-container input[type="number"] {
        
        background: none;
        border: none;
        color: var(--grayscale-gray200, #C8CACB);
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.48px;
        text-transform: capitalize;
        text-align: center;

        width: 20px;
    }
    .percentage-symbol{
        color: var(--grayscale-gray200, #C8CACB);
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.48px;
        text-transform: capitalize;
    }
.anchor-img{
    width: 12px;
    height: 10px;
    flex-shrink: 0;
    margin-left: 4px;
}



.serachbar-container input[type="number"]::-webkit-outer-spin-button,
.serachbar-container input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.serachbar-container .range-slider{
    position: relative;
    width: 500px;
    height: 18px;
    border-radius: 24px;
    background: #454545;
    outline: none;

    margin-bottom: 25px;
    margin-top: 30px;
}
.serachbar-container .range-slider .progress {
    position: absolute;
    height: 18px;
    right: 8px;
    width: 482px;
    background: linear-gradient(90deg, #FDA4C7 0%, #E51D5A 100%);
    border-radius: 0px;
    clip-path: inset(0 var(--right) 0 var(--left));
    --left: 0%;
    --right: 0%;
    
}
.serachbar-container .range-slider input[type="range"]{
    position: absolute;
    width: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    background: none;
    outline: none;
}
.serachbar-container .range-slider input::-webkit-slider-thumb{
    pointer-events: auto;
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #f3f5f6;
    border-radius: 50px;
    cursor: pointer;
}
.serachbar-addButton{
    position: relative;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    border: none;
    background: #FFF;

    color: #000;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
    letter-spacing: -0.56px;
    text-transform: capitalize;
}
.serachbar-addButton:hover{
    border: none;
    outline: none;
}
.serachbar-addButton:focus{
    border: none;
    outline: none;
}
.serachbar-activeButton{
    border: 1px solid rgba(0, 0, 0, 0.20);
    background: var(--grayscale-gray500, #727475);
    color: #FFF;
    pointer-events: none;
}
.serachbar-activeButton:hover{
    border: none;
    outline: none;
}
.serachbar-activeButton:focus{
    border: none;
    outline: none;
}
